{% extends 'base.html' %} {% block content %}
<div class="message-box">
  <h2>Chat Room: {{ room_name }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      row="3"
      id="message"
      placeholder="Type your message here"
    />
    <button type="buttom" name="send" id="send-btn" onClick="sendMenssage()">
      Send
    </button>
  </div>
</div>
<script type="text/javascript">
  var secketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (message) = (name, msg) => {
    const content = `
    <div>
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleTimeString()}
        </span>
    <div>
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleTimeString()}
        </span>
    </div>
    `
    messages.innerHTML += content;
    };
    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });
    
</script>
{% endblock %}
